<!DOCTYPE html>
<html lang="uk">

	<head>
	  <meta charset="UTF-8"/>
	  <title>Сервіс Обліку Студентів</title>
	  <meta name="description" value="Система Обліку Студентів Навчального Закладу"/>
	  
	  <!-- Include Styles -->
	  <link rel="stylesheet" href="./css/bootstrap.min.css">
	  <link rel="stylesheet" href="./css/main.css">
	  
	</head>

	<body>
		<!-- Start Container -->
		<div class="container">
		
			<!-- Start Header -->
			<div class="row" id="header">
				<!-- Logo -->
				<div class="col-xs-8">
					<h1>Сервіс Обліку Студентів</h1>
				</div>
			</div>
			 <!-- End Header -->

			<!-- Start Main Page Content -->
			<div class="row" id="content-columns">
				<div class="col-xs-12" id="content-column">
					<h2>Форма редагування студентів</h2>
					
					<!-- Start Editing Form -->
					<form role="form" class="form-horizontal">
					  <div class="form-group">
						<label for="inputName" class="col-sm-2 control-label">Ім'я</label>
						<div class="col-sm-3">
							<input type="text" class="form-control" id="inputName" placeholder="Ім'я">
						</div>
					  </div>
					  <div class="form-group">
						<label for="inputName" class="col-sm-2 control-label">По-Батькові</label>
						<div class="col-sm-3">
							<input type="text" class="form-control" id="inputName" placeholder="По-Батькові">
						</div>
					  </div>
					  <div class="form-group">
						<label for="inputName" class="col-sm-2 control-label">Прізвище</label>
						<div class="col-sm-3">
							<input type="text" class="form-control" id="inputName" placeholder="Прізвище">
						</div>
					  </div>
					  <div class="form-group">
						<label for="inputName" class="col-sm-2 control-label">№ Білету</label>
						<div class="col-sm-3">
							<input type="text" class="form-control" id="inputName" placeholder="№ Білету">
						</div>
					  </div>
					  <div class="form-group">
						<label for="exampleInputFile" class="col-sm-2 control-label">Фото</label>
						<div class="col-sm-10">
							Наразі: <a href="#">Файл 1.jpg</a>
							<button type="button" class="btn btn-link">Очистити</button>
							<p class="help-block">Змінити фото</p>
							<input type="file" id="exampleInputFile">
						</div>
					  </div>
	
					  <div class="form-group">
						<label for="inputName" class="col-sm-2 control-label">Група</label>
						<div class="col-sm-3">
							<input type="text" class="form-control" id="inputName" placeholder="Група">
						</div>
					  </div>
					  
					   <div class="form-group">
						<label for="inputName" class="col-sm-2 control-label">Додаткові нотатки</label>
						<div class="col-sm-3">
							<input type="text" class="form-control" id="inputName" placeholder="Додаткові нотатки">
						</div>
					  </div>

						  <div class="form-group">
					  <span class="col-sm-2"></span>
					  <div class="col-sm-10">
						<button type="submit" class="btn btn-primary">Зберегти</button>
						<button type="button" class="btn btn-link">Скасувати</button>
					  </div>
					  </div>
					</form>
					<!-- End Editing Form -->
					
				</div>
			</div>
			<!-- End Main Page Content -->

			<!-- Start Footer -->
			<div class="row" id="footer">
				<div class="col-xs-12">
					&copy; 2014 Сервіс Обліку Студентів
				</div>
			</div>
			<!-- End Footer -->

		</div>
		<!-- End Container -->
	  
		<!-- Javascripts Section -->
		<script src="js/jquery-2.1.1.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
	</body>

</html>
